<a href="https://colab.research.google.com/github/Ziyan-spec/Pandas-/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **What** **is** **Pandas**
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

# **Pandas** **Series**
A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [ ]:
import numpy as np
import pandas as pd

# **Series** **from** **lists**

In [ ]:
#string
country = ['India','America','Russia','Australia']
pd.Series(country)

0        India
1      America
2       Russia
3    Australia
dtype: object

In [ ]:
#integer
runs = [23,34,60,80]
runs_series = pd.Series(runs)
runs_series

0    23
1    34
2    60
3    80
dtype: int64

In [ ]:
#custom index
marks = [45,60,80,90,68]
subjects = ['Analysis','Numerical','C++','Python','DSA']
pd.Series(marks,index=subjects)

Analysis     45
Numerical    60
C++          80
Python       90
DSA          68
dtype: int64

In [ ]:
#name
marks_series = pd.Series(marks,index=subjects,name='Ziyan Marks')
marks_series

Analysis     45
Numerical    60
C++          80
Python       90
DSA          68
Name: Ziyan Marks, dtype: int64

# **Series** **from** **dictionary**

In [ ]:
marks = {
    'Analysis':68,
    'Python':90,
    'C++':80
}

In [ ]:
marks_series= pd.Series(marks,name='Ziyan Marks')
marks_series

Analysis    68
Python      90
C++         80
Name: Ziyan Marks, dtype: int64

# **Series** **Attributes**

In [ ]:
#size
marks_series.size

3

In [ ]:
#dtype
marks_series.dtype

dtype('int64')

In [ ]:
#name
marks_series.name

'Ziyan Marks'

In [ ]:
#index
print(marks_series.index)
print(runs_series.index)

Index(['Analysis', 'Python', 'C++'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

In [ ]:
#is_unique
print(runs_series.is_unique)
print(pd.Series([1,2,3,4,6,8,8,9,9]).is_unique)

True
False

In [ ]:
#value
marks_series.values

array([68, 90, 80])

# **Series** **using** **read_csv**

In [ ]:
#with one column
subscribers  = pd.read_csv('/content/subs.csv').squeeze("columns")
subscribers

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [ ]:
#with two columns
vk = pd.read_csv('/content/kohli_ipl.csv',index_col='match_no').squeeze("columns")
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [ ]:
movies = pd.read_csv('/content/bollywood.csv',index_col='movie').squeeze("columns")
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

# **Series** **Methods**

In [ ]:
#head  --> give 5 movies from top
movies.head()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
Name: lead, dtype: object

In [ ]:
#tail  --> give 3 movies from bottom
movies.tail(3)

movie
1920: The Evil Returns         Vicky Ahuja
1920: London                 Sharman Joshi
1920 (film)               Rajniesh Duggall
Name: lead, dtype: object

In [ ]:
#sample   --> give any 5 random data
movies.sample(5)

movie
The Killer (2006 film)                 Irrfan Khan
Love U...Mr. Kalakaar!              Tusshar Kapoor
Darna Mana Hai                       Sameera Reddy
Haasil                             Jimmy Sheirgill
Shirin Farhad Ki Toh Nikal Padi       Freny Bhagat
Name: lead, dtype: object

In [ ]:
#value_count  --> counts no. of movies per actor
movies.value_counts()

lead
Akshay Kumar         48
Amitabh Bachchan     45
Ajay Devgn           38
Salman Khan          31
Sanjay Dutt          26
                     ..
Seema Azmi            1
Akanksha Puri         1
Charanpreet Insan     1
Jaideep Ahlawat       1
Monali Thakur         1
Name: count, Length: 566, dtype: int64

In [ ]:
#sort_value
vk.sort_values()

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [ ]:
print(f"Highest runs : {vk.sort_values(ascending=False).head(1).values[0]}")

Highest runs : 113

In [ ]:
#sort_index
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [ ]:
#sort --> inplace-->(change the actual series)
movies.sort_index(inplace=True,ascending=False)

In [ ]:
#bcz of inplace-->actual movies has changed to descending order
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

# **Series** **Maths** **Methods**

In [ ]:
#count
movies.count()

np.int64(1500)

In [ ]:
#sum
print(f"Total Subscribers: {subscribers.sum()}")

Total Subscribers: 49510

In [ ]:
#mean/median/mode
print(f"Average runs per match: {vk.mean()}")

Average runs per match: 30.855813953488372

In [ ]:
subscribers.median()

123.0

In [ ]:
movies.mode()

0    Akshay Kumar
Name: lead, dtype: object

In [ ]:
#max/min
print(vk.min())
print(vk.max())

0
113

In [ ]:
subscribers.max()

396

In [ ]:
subscribers.min()

33

In [ ]:
#descibe
movies.describe()

count             1500
unique             566
top       Akshay Kumar
freq                48
Name: lead, dtype: object

In [ ]:
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

In [ ]:
subscribers.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

# **Series** **Indexing**

In [ ]:
#indexing
movies

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

In [ ]:
movies[1]

/tmp/ipython-input-1023273493.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies[1]

'Darsheel Safary'

In [ ]:
subscribers

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [ ]:
subscribers[2]

np.int64(40)

In [ ]:
#negative indexing --> it doesn't work on integer index
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [ ]:
vk[-2]

KeyError: -2

In [ ]:
movies[-3]

/tmp/ipython-input-1006755712.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies[-3]

'Vicky Ahuja'

In [ ]:
#slicing
vk[1:6]

match_no
2    23
3    13
4    12
5     1
6     9
Name: runs, dtype: int64

In [ ]:
#negative Slicing
movies[-3:]

movie
1920: The Evil Returns         Vicky Ahuja
1920: London                 Sharman Joshi
1920 (film)               Rajniesh Duggall
Name: lead, dtype: object

In [ ]:
subscribers[-5:]

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [ ]:
#fancy indexing
vk[[3,5,10]]

match_no
3     13
5      1
10     3
Name: runs, dtype: int64

In [ ]:
#indexing with labels
movies

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

In [ ]:
movies['Zokkomon']

'Darsheel Safary'

# **Editing** **Series**

In [ ]:
#using indexing
runs_series

0    23
1    34
2    60
3    80
dtype: int64

In [ ]:
runs_series[1] = 89
runs_series

0    23
1    89
2    60
3    80
dtype: int64

In [ ]:
#what if index doesn't exists
marks_series

Analysis    68
Python      90
C++         80
Name: Ziyan Marks, dtype: int64

In [ ]:
marks_series["Java"] = 99
marks_series

Analysis    68
Python      90
C++         80
Java        99
Name: Ziyan Marks, dtype: int64

In [ ]:
#using slicing
runs_series[1:3] = 90
runs_series

0    23
1    90
2    90
3    80
dtype: int64

# **Series** **with** **Python** **Functionalities**

In [ ]:
#len/type/dir/sorted/max/min
print(len(movies))
print(type(subscribers))
print(sorted(vk))
print(max(subscribers))

1500
<class 'pandas.core.series.Series'>
[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 15, 15, 16, 16, 16, 16, 16, 17, 17, 18, 18, 18, 18, 19, 19, 19, 20, 20, 20, 20, 21, 21, 21, 22, 22, 23, 23, 23, 23, 24, 24, 24, 25, 25, 25, 25, 25, 27, 27, 27, 28, 29, 30, 30, 30, 31, 31, 31, 32, 32, 32, 33, 33, 33, 33, 34, 34, 34, 35, 35, 35, 35, 35, 35, 36, 37, 38, 38, 38, 38, 39, 39, 39, 41, 41, 41, 42, 42, 43, 43, 44, 45, 46, 48, 48, 48, 48, 49, 50, 50, 51, 51, 51, 52, 53, 54, 54, 55, 56, 56, 57, 57, 57, 58, 58, 58, 58, 62, 62, 64, 65, 67, 67, 67, 68, 70, 70, 71, 72, 72, 73, 73, 73, 75, 75, 79, 80, 82, 84, 90, 92, 93, 99, 100, 100, 108, 109, 113]
396

In [ ]:
#type conversion
list(marks_series)

[68, 90, 80, 99]

In [ ]:
#membership operators
'Zokkomon' in movies

True

In [ ]:
'Hrithik Roshan' in movies     #bcz it checks on index

False

In [ ]:
'Hrithik Roshan' in movies.values

True

In [ ]:
#looping
for i in movies:
    print(i)

Meghan Jadhav
Darsheel Safary
Mithun Chakraborty
Hrithik Roshan
Veena Malik
Sushmita Sen
Sanjay Dutt
Vivek Oberoi
Mannara Chopra
Shah Rukh Khan
Emraan Hashmi
Vinod Acharya
Ajay Devgn
Ajay Devgn
Jeetendra
Salman Khan
Ajay Devgn
Paresh Rawal
Jackky Bhagnani
Vardhan Puri
Anupam Kher
Shah Rukh Khan
Anya Anand
Ranbir Kapoor
Gavie Chahal
Anshuman Jha
Deepshika Nagpal
Tusshar Kapoor
Rekha
Dharmendra
Nafisa Ali
Arjun Rampal
Prisha Aneja
Siddhanth Kapoor
Indrapal Ahuja
Sharman Joshi
Sikander Kher
Kangana Ranaut
Emraan Hashmi
Harman Baweja
Manu Rishi Chadha
Boman Irani
Shreyas Talpade
Anil Kapoor
Arshad Warsi
Akshay Kumar
Diganth
Nana Patekar
Gurdas Maan
Sharman Joshi
Amitabh Bachchan
Salman Khan
Ranbir Kapoor
Elisha Kriis
Sharman Joshi
Naseeruddin Shah
Arshad Warsi
Shreyas Talpade
Rajesh Khanna
Niharica Raizada
Leeza Mangaldas
Kay Kay Menon
Shahid Kapoor
Kamal Haasan
Amitabh Bachchan
Vikram Aditya
Harman Baweja
Ayushmann Khurrana
Hugh Bonneville
Kay Kay Menon
Pulkit Samrat
Sachiin Joshi
Shah Rukh Khan
Salman Khan
Shikhi Gupta
Vicky Ahuja
Shahid Kapoor
Bobby Deol
Arjun Rampal
Mohit Baghel
Priyanshu Chatterjee
Vinay Pathak
Vicky Kaushal
Russell Geoffrey Banks
Rahul Bhat
Emraan Hashmi
Aashish Bhatt
Aishwarya Rai Bachchan
Jimmy Sheirgill
Sunny Singh Nijjar
Rahul Bhat
Shahid Kapoor
Rajat Barmecha
Mikaal
Ajay Devgn
Gul Panag
Emraan Hashmi
Vidya Balan
Sohum Shah
Nana Patekar
Emraan Hashmi
Neha Sharma
Manisha Koirala
Riteish Deshmukh
Salman Khan
Vikrum Kumar
Rajkummar Rao
Kunal Khemu
Manoj Bajpayee
Ali Zafar
Ajay Devgn
Ajay Devgn
Rakesh Bedi
Akshay Kumar
Tabu
Nishant Dahiya
Nawazuddin Siddiqui
Salman Khan
Aamir Khan
Saahil Chadha
Arya Babbar
Saif Ali Khan
Bhavita Anand
Sonam Kapoor
Himesh Reshammiya
Emraan Hashmi
Naseeruddin Shah
Kay Kay Menon
Zaira Wasim
Mann Bagga
Akshay Kumar
Edwin Fernandes
Kal Penn
Irrfan Khan
Amitabh Bachchan
Irrfan Khan
Shakti Kapoor
Rahul Bose
Sunny Deol
Rana Daggubati
Kunaal Roy Kapur
Ranvir Shorey
Nassar Abdulla
Vidya Balan
Nawazuddin Siddiqui
Kartik Elangovan
Pankaj Kapur
Anupam Kher
Master Shams
Akshay Kumar
Nawazuddin Siddiqui
Anil Kapoor
Arjun Kapoor
Shahid Kapoor
Salman Khan
Riteish Deshmukh
Vinay Pathak
Parthaa Akerkar
Ali Zafar
Neil Nitin Mukesh
Dharmendra
Shabana Azmi
Sunny Deol
Akshay Kumar
Om Puri
Amitabh Bachchan
Amitabh Bachchan
Nana Patekar
Sanjay Dutt
Akshay Kumar
Kangana Ranaut
Kangana Ranaut
Madhavan
Ajay Devgn
Nikhil Dwivedi
Irrfan Khan
Rakhee Gulzar
Aamir Khan
Sulabha Arya
Zulfi Sayed
Victor Banerjee
Paresh Rawal
Vatsal Sheth
Darsheel Safary
Saif Ali Khan
Himansh Kohli
Manoj Bajpayee
Shah Rukh Khan
Rekha
Ashmit Patel
Hrithik Roshan
Aftab Shivdasani
Jaya Bachchan
Ajay Devgn
Ahraz Ahmed
Salman Khan
Naveen Kasturia
Gurdas Maan
Anushka Sharma
Raveena Tandon
Tiger Shroff
Alia Bhatt
Zeenat Aman
Siddharth
Rajkummar Rao
Jimmy Sheirgill
Jahangir Khan
Kanika Batra
Partho A. Gupte
Aarti Chhabria
Tanishaa Mukerji
Urmila Matondkar
Akshay Kumar
Rati Agnihotri
Mahima Chaudhry
Shamim Khan
Shabana Azmi
Tinnu Anand
Kartik Aaryan
Sunidhi Chauhan
Geetika Vidya Ohlyan
Sushant Singh Rajput
Rhea Chakraborty
Ajay Devgn
Abhay Deol
Barkha Madan
Wamiqa Gabbi
Kay Kay Menon
Anupam Kher
Ajay Devgn
Sunny Deol
Akshay Kumar
Akshay Kumar
Kangana Ranaut
Ranveer Singh
Tabu
Parzaan Dastur
Rajesh Tailang
Anupam Kher
Sushant Singh Rajput
Ayushmann Khurrana
Tushar Jalota
Sanjay Dutt
Jimmy Sheirgill
Neil Nitin Mukesh
Jimmy Sheirgill
Sendhil Ramamurthy
Amitabh Bachchan
Sanjeev Kumar
Ajay Devgn
Mohit Ahlawat
Freny Bhagat
Aida Elkashef
Ajay Devgn
Neha Dhupia
Tarun Arora
Tusshar Kapoor
Zayed Khan
Emraan Hashmi
Amitabh Bachchan
Bobby Deol
Kalki Koechlin
Rajkummar Rao
Nana Patekar
Isha Koppikar
Ashutosh Rana
Sanjay Dutt
Ashish Bisht
Aditya Narayan
Shahid Kapoor
Akshaye Khanna
Fardeen Khan
Rajkummar Rao
Farhan Akhtar
Salman Khan
Sanjay Suri
Shreyas Talpade
Arshad Warsi
Akshaye Khanna
Zaira Wasim
Dharmendra
Mandar Jadhav
John Abraham
Amitabh Bachchan
Puneet Singh Ratn
Raveena Tandon
Sanjay Mishra
Suraj Pancholi
Amitabh Bachchan
Amitabh Bachchan
Amitabh Bachchan
Mahima Chaudhry
Randeep Hooda
Boman Irani
Kay Kay Menon
Ranbir Kapoor
Govinda
Rishi Kapoor
Rajeev Khandelwal
Sushmita Sen
Zeenat Aman
Salman Khan
Saif Ali Khan
Anupam Kher
Jimmy Sheirgill
Sanjay Dutt
Jimmy Sheirgill
Rekha
Karan Sharma
Sarika
Sachin Tendulkar
Swara Bhaskar
John Abraham
Rani Mukerji
Salman Khan
Vivek Oberoi
Manoj Bajpayee
Kiron Kher
Vishwa Mohan Badola
Sonarika Bhadoria
Tanima Bhattacharya
Taapsee Pannu
Jacqueline Fernandez
Ileana D'Cruz
Emraan Hashmi
Arsh Bajwa
Abhishek Bachchan
Tanuja
Manoj Bajpayee
Sanjay Dutt
Arjun Rampal
Tannishtha Chatterjee
Tanushree Dutta
Sunny Deol
Irrfan Khan
John Abraham
Ranbir Kapoor
Ranbir Kapoor
Arjun Rampal
Farhan Akhtar
Aadil Chahal
Saif Ali Khan
Paresh Rawal
Rajesh Khanna
Garima Agarwal
Vinod Khanna
Sunny Deol
Ankit
Kalki Koechlin
Kangana Ranaut
Kashmira Shah
Aftab Shivdasani
Sherlyn Chopra
Sunil Shetty
Prince Shah
Ajay Devgn
Rahul Khanna
Amitabh Bachchan
Jackky Bhagnani
Kangana Ranaut
Randeep Hooda
Aamir Khan
Soundarya Sharma
Manish Paul
Naseeruddin Shah
Madhavan
Manoj Bajpayee
Nawazuddin Siddiqui
Shruti Haasan
Sahil Khan
Julia Datt
Sanjay Dutt
Amyra Dastur
Kangana Ranaut
Emraan Hashmi
Sadashiv Amrapurkar
Ajay Devgn
Ajay Devgn
Kay Kay Menon
Sunny Leone
Kainaz Motivala
Vijay Raaz
Raj Arjun
Anil Kapoor
Saif Ali Khan
Saif Ali Khan
Shah Rukh Khan
Alia Bhatt
Kangana Ranaut
Emraan Hashmi
Dino Morea
Abhishek Bachchan
Aamir Bashir
Dhanush
Kunal Kapoor
Deepika Padukone
Shah Rukh Khan
Rajendra Prasad
Kangana Ranaut
Irrfan Khan
Ajay Devgn
Irrfan Khan
Aadar Jain
Fardeen Khan
Rishi Kapoor
Rahul Bose
Kartik Aaryan
Kartik Aaryan
Priyanka Chopra
Tanuj Virwani
Vivek Oberoi
Salman Khan
Arbaaz Khan
Jeetendra
Sanjay Dutt
Rajeev Khandelwal
Chandan Roy Sanyal
Raveena Tandon
Sunny Deol
Akshay Kapoor
Sanjay Dutt
Akshay Kumar
Vinod Khanna
Sanjay Dutt
Akshay Oberoi
Taapsee Pannu
Urmila Matondkar
Deepika Padukone
Rahul Bagga
Nawazuddin Siddiqui
Sudeep
Radhika Apte
Salman Khan
Mithun Chakraborty
Akshay Kumar
Anushka Sharma
Rajniesh Duggall
Shahid Kapoor
Rajat Kapoor
Saif Ali Khan
Jimmy Sheirgill
Vinod Khanna
Omkar Das Manikpuri
Shreyas Talpade
Rishi Kapoor
Kartik Aaryan
Rishi Kapoor
Sanya Malhotra
Ajay Devgn
Salman Khan
John Abraham
Saif Ali Khan
Tannishtha Chatterjee
Mohinder Gujral
Bipasha Basu
Nayna Bandhopadhyay
Jackie Shroff
Karan Deol
Manisha Koirala
Shah Rukh Khan
Konkona Sen Sharma
Kriti Kharbanda
Sunil Shetty
Deepika Padukone
Nana Patekar
John Abraham
Nassar Abdulla
Irrfan Khan
Amitabh Bachchan
Boman Irani
Aamir Khan
Bhavesh Kumar
Meenakshi Dixit
Abhay Deol
Riteish Deshmukh
Abhay Deol
Tusshar Kapoor
Anupam Kher
Akshay Kumar
Ajay Devgn
Ajay Devgn
Rajkummar Rao
Gopi Desai
Shah Rukh Khan
Attin Bhalla
Shraddha Kapoor
Vinay Pathak
Varun Dhawan
Paresh Rawal
Pulkit Samrat
Madhavan
Zaheer Iqbal
Deepak Dobriyal
Sunny Leone
John Abraham
Sanjay Dutt
Rani Mukerji
Anil Kapoor
Amitabh Bachchan
Ashmit Patel
Swara Bhaskar
Rajkummar Rao
John Abraham
Vinay Anand
Sanjay Dutt
Sonam Kapoor
Uday Chopra
Vikas Kalantri
Dharmesh Yelande
Ayushmann Khurrana
Govinda
Poonam Pandey
Bobby Deol
Abhay Deol
Dwij Yadav
Akshay Kumar
Arjun Kapoor
Sunny Deol
Urmila Matondkar
Taapsee Pannu
Antara Mali
Om Puri
Anushka Sharma
Auroshika Dey
Anil Kapoor
Shah Rukh Khan
Prateik
Sanjay Suri
Jason Lewis
Nora Fatehi
Aftab Shivdasani
Anil Kapoor
Randeep Hooda
Emraan Hashmi
Mallika Sherawat
Sanjay Singh
Tiger Shroff
Sanjay Dutt
Kiron Kher
Alieesa P Badresia
Abhishek Bachchan
Linda Arsenio
Paresh Rawal
Rahul Bose
Mohsin
Shiv Panditt
Shakti Kapoor
Karanvir Bohra
Taapsee Pannu
Viineet Kumar
Sammir Dattani
Salman Khan
Saqib Saleem
Prithviraj Kapoor
Anil Kapoor
Emraan Hashmi
Prashant Narayanan
Anupam Kher
Dev Anand
Saurav Chakraborty
Nawazuddin Siddiqui
Shabana Azmi
Vijay Varma
Ashutosh Rana
Govinda
Sridevi
Hrithik Roshan
Sunny Deol
Neha Dhupia
Hazel Croney
Jackky Bhagnani
Akshay Kumar
Vivek Oberoi
Manoj Bajpayee
Rahul Bagga
Harshvardhan Kapoor
Arunoday Singh
Chirag Paswan
Kareena Kapoor
Manish Paul
Ayushmann Khurrana
Akshay Kumar
Rasika Agashe
Akshay Kumar
Yash Acharya
Sunil Shetty
Saqib Saleem
Imran Khan
Paresh Rawal
Prabhu Deva
Deepti Naval
Puru Chibber
Jaideep Ahlawat
Anupam Kher
Tabu
Sonu Sood
Shahid Kapoor
Tulip Joshi
Imran Khan
Rahul Bagga
Tusshar Kapoor
Aftab Shivdasani
Richa Chadha
Priyanka Chopra
Archana Joglekar
Manisha Koirala
Riteish Deshmukh
Salman Khan
Kalki Koechlin
Rani Mukerji
Rani Mukerji
Abhimanyu Dasani
Irrfan Khan
Rajat Kapoor
Nawazuddin Siddiqui
Abhay Deol
Taapsee Pannu
Anjori Alagh
Nawazuddin Siddiqui
Kangana Ranaut
Aamir Khan
Akanksha
Paresh Rawal
Salman Khan
Anupam Kher
Varun Dhawan
Hrithik Roshan
Rajpal Yadav
Antara Mali
Juhi Chawla
Smitha Gondkar
Shah Rukh Khan
Salman Khan
Barun Sobti
Ajay Devgn
Asha Bhosle
Sooraj Balaji
John Abraham
Bipasha Basu
Rajkummar Rao
Irrfan Khan
Saahil Prem
Kiara Advani
Swara Bhaskar
Sumit Nijhawan
Raveena Tandon
Mallika Sherawat
Ashok Insan
Gurmeet Ram Rahim Singh
Charanpreet Insan
Menekka Arora
Sushant Singh Rajput
Tom Alter
Tanuj Virwani
V. Ravichandran
Salman Khan
Arvinder Bhatti
Farhan Akhtar
Adhyayan Suman
Farhan Akhtar
Mithun Chakraborty
Girish Taurani
Vicky Kaushal
Joy Mukherjee
Tusshar Kapoor
Harman Baweja
Abhishek Bharate
Anuj Sachdeva
Nushrat Bharucha
Rishi Kapoor
Patralekhaa Paul
Zayed Khan
Saif Ali Khan
Ranveer Singh
Salman Khan
Shabana Azmi
Himanshu Bhatt
John Abraham
Farooq Shaikh
Aahana Kumra
Dharmendra
Govinda
Aftab Shivdasani
Kay Kay Menon
Manoj Amarnani
Rituparna Sengupta
Armaan Jain
Sanjay Dutt
Hrithik Roshan
Monali Thakur
Sunny Deol
Avinash Tiwary
Farooq Shaikh
Sanjay Dutt
Neil Nitin Mukesh
Ranveer Singh
Randeep Hooda
Rani Mukerji
Sanjay Dutt
Amitabh Bachchan
Salman Khan
Riteish Deshmukh
Tusshar Kapoor
Tusshar Kapoor
Tusshar Kapoor
Vijay Raaz
Rajpal Yadav
Lewis Tan
Siddharth Gupta
Rekha
Arshad Warsi
Geetanjali Thapa
Aishwarya Rai Bachchan
Ram Kapoor
Tusshar Kapoor
Shefali Shah
Rekha
Sohail Khan
Manoj Bajpayee
Juhi Chawla
Kannan Arunachalam
Rekha
Dia Mirza
Aftab Shivdasani
Sanjay Dutt
Hrithik Roshan
Arshad Warsi
Vivek Oberoi
Vivek Oberoi
Shahid Kapoor
Bobby Deol
Jackie Shroff
Kapil Sharma
Mallika Sherawat
Ranveer Singh
Salman Khan
Amitabh Bachchan
Himanshu Malik
Simer Motiani
Fardeen Khan
Sunny Deol
Shiney Ahuja
Anupam Kher
Sonam Kapoor
Supriya Pathak
Sunny Deol
Hazel Croney
Akshay Kumar
Rahul Jaiswal
Gurmeet Choudhary
Prabhu Deva
Shilpa Shetty Kundra
Kiron Kher
Amitabh Bachchan
Vinay Pathak
Akshay Kumar
Shahbaaz Khan
Kunal Kapoor
Raqesh Bapat
Suhaas Ahuja
Juhi Babbar
Lucky Ali
Himesh Reshammiya
Irrfan Khan
Siddhartha Gupta
Rati Agnihotri
Shiv Darshan
Mahek Chahal
John Abraham
Sidharth Malhotra
Shahid Kapoor
Kunal Khemu
Varun Dhawan
Shah Rukh Khan
Amit Hingorani
Rajkummar Rao
Eesha Agarwal
Vidya Balan
Om Puri
Sanjay Mishra
John Abraham
Shahid Kapoor
Amitabh Bachchan
Aishwarya Devan
Amitabh Bachchan
Kartik Aaryan
Aditya Srivastava
Saif Ali Khan
Ajay Devgn
Vinay Pathak
Hrithik Roshan
Fardeen Khan
Kamal Adib
Pulkit Samrat
Vidyut Jammwal
Nishikant Kamat
Neha Dhupia
Sadhana Singh
Varun Dhawan
Kangana Ranaut
Arshad Warsi
Akshay Kumar
Dharmendra
Naseeruddin Shah
Victor Banerjee
Bipasha Basu
Hrithik Roshan
Sunny Gill
Sunny Deol
Bipasha Basu
Mimoh Chakraborty
Nassar Abdulla
Harshvardhan Deo
Richa Chadha
Rishi Kapoor
John Abraham
Abhishek Bachchan
Sanjay Suri
Boman Irani
Arbaaz Khan
Ravi Kishan
Aishwarya Rai Bachchan
Vivek Oberoi
Emraan Hashmi
Amardeep Insan
Emraan Hashmi
Feroz Khan
Mohit Ahlawat
Harish Chabbra
Rhea Chakraborty
Purab Kohli
Javed Jaffrey
Manoj Bajpayee
Fardeen Khan
Rati Agnihotri
Salman Khan
Priyanka Chopra
Chiranjeevi
Govinda
Ranbir Kapoor
Naseeruddin Shah
Amit Sadh
Sidharth Malhotra
Shahid Kapoor
Shah Rukh Khan
Shah Rukh Khan
Akshay Anand
Priyanka Chopra
Aftab Shivdasani
Salman Khan
Sunny Deol
Rina Charaniya
Sanjeev Bhaskar
Prateik
Vinay Pathak
Akshay Oberoi
Vidya Balan
Manish Anand
Mimoh Chakraborty
Shahid Kapoor
Rishi Verma
Dino Morea
Krishna Chaturvedi
Sara Loren
Preity Zinta
Arjun Kapoor
Madhavan
Naseeruddin Shah
Amarjeet
Shreyas Talpade
Manoj Bajpayee
Ashmit Patel
Akshay Kumar
Dino Morea
Arjun Rampal
Kirti Kulhari
Jaz Pandher
Arjun Kapoor
Vivek Sudershan
Arjun Rampal
Sohail Khan
Sunny Deol
Shakti Anand
Imran Khan
Gulshan Grover
Juhi Chawla
Tisca Chopra
Gulshan Devaiah
Akshaye Khanna
Saif Ali Khan
Varun Dhawan
Omkar Bhatkar
Arjun Rampal
Akshay Kumar
Karanvir Bohra
Shah Rukh Khan
Tusshar Kapoor
Arshad Warsi
Saif Ali Khan
Anupam Kher
Prit Kamani
Akshaye Khanna
Akshay Kumar
Akshay Kumar
Akshay Kumar
Adil Hussain
Vatsal Sheth
Karan Kundrra
Naseeruddin Shah
Zara Sheikh
Ranvir Shorey
Vivek Oberoi
Akshay Kumar
Onjolee Nair
Mallika Sherawat
Irrfan Khan
Gurmeet Ram Rahim Singh
Ajay Devgn
Alia Bhatt
Sumeet Vyas
Rani Mukerji
Juanna Sanghvi
Ganesh Acharya
Tiger Shroff
Kareena Kapoor
Sohail Khan
Suraj Pancholi
Bobby Deol
Gul Panag
Sharman Joshi
Kajol
Adhyayan Suman
Kay Kay Menon
Babbu Mann
Shawar Ali
Naman Jain
Makrand Deshpande
Tabu
Aniket Vishwasrao
Mimoh Chakraborty
Akshay Kumar
Nana Patekar
Lee Byford
Jay Bhanushali
Nikhil Dwivedi
Jimmy Sheirgill
Shraddha Kapoor
Sidharth Malhotra
Jackie Shroff
Nawazuddin Siddiqui
Sonakshi Sinha
Shah Rukh Khan
Anay
Saif Ali Khan
Diana Penty
Mukesh Khanna
Talha Arshad Reshi
Rajkummar Rao
Ajay Devgn
Paoli Dam
Shraddha Kapoor
Tabu
Sahil Anand
Jimmy Sheirgill
Amita Pathak
Hrithik Roshan
Mithun Chakraborty
Ranveer Singh
Dino Morea
Ranveer Singh
Sampat Pal Devi
Kay Kay Menon
Madhuri Dixit
Kartik Aaryan
Arshad Warsi
Kunal Khemu
Vikram Dasu
Urvashi Rautela
Vivek Oberoi
Vinay Pathak
Imran Khan
Akshay Kumar
Tusshar Kapoor
Deepika Amin
Ajay Devgn
Ajay Devgn
Ajay Devgn
Dimple Kapadia
Ranveer Singh
Akshay Kumar
Amitabh Bachchan
John Abraham
Saif Ali Khan
Gautam Gupta
Pankaj Tripathi
Isha Koppikar
Riya Vij
Sanaya Irani
Shiney Ahuja
Sunny Deol
Vidya Balan
Aamir Khan
Utkarsh Sharma
Tusshar Kapoor
Mohan Azaad
Naresh Sharma
Salman Khan
Akshay Kumar
Kangana Ranaut
Manoj Bajpayee
Manoj Bajpayee
Sarita Joshi
Ajay Devgn
Sharman Joshi
Akshaye Khanna
Abhishek Bachchan
Manoj Bajpayee
Akshay Kumar
Akshay Kumar
Rajveer Ankur Singh
Rushali Arora
Siddharth Koirala
Pulkit Samrat
Pulkit Samrat
Jimmy Sheirgill
Shubham
Govinda
Atmaram Bhende
Bidita Bag
Avinash Dhyani
Nawazuddin Siddiqui
Arshad Warsi
Arjun Rampal
John Abraham
John Abraham
Aftab Shivdasani
Shahid Kapoor
Reef Karim
Jayesh Raj
Aditya Roy Kapoor
Kapil Sharma
Inaamulhaq
Deepika Padukone
Sharib Hashmi
Sunil Shetty
Kareena Kapoor
Rajeev Khandelwal
Sharman Joshi
Gul Panag
Priyanka Chopra
Shilpa Shetty Kundra
Aamir Khan
Shah Rukh Khan
Arjun Rampal
Jimmy Sheirgill
Amitabh Bachchan
Arshad Warsi
Mona Ambegaonkar
Manisha Koirala
Akshay Kumar
Sridevi
Sunil Shetty
Arjun Rampal
Amitabh Bachchan
Anupam Kher
Prateik
Bobby Deol
Isha Koppikar
Sidharth Malhotra
Hema Malini
Emraan Hashmi
Salman Khan
Bhushan Agarwal
Anita
Sunil Shetty
Sunny Leone
Kareena Kapoor
Fardeen Khan
Jimmy Sharma
Saif Ali Khan
Shiv Darshan
Rahul Bose
Abhay Deol
Sanjay Dutt
Nandita Das
Amitabh Bachchan
Raj Tara
Arbaaz Khan
Sanjay Dutt
Zeenat Aman
Abhishek Bachchan
Ayushmann Khurrana
Vivek Oberoi
Sushmita Sen
Diwakar Pathak
Jayshree Arora
Ajay Devgn
Aseel Adel
Ayushmann Khurrana
Sanjay Dutt
Ayesha Jhulka
Akshay Kumar
Abhishek Bachchan
Ayesha Takia
Ronit Roy
Rishi Kapoor
Mithun Chakraborty
Shah Rukh Khan
Shah Rukh Khan
Malaika Arora
Jackie Shroff
Adil Hussain
Kajal Aggarwal
Rishi Kapoor
John Abraham
Harman Baweja
Anupam Kher
Rajniesh Duggall
Shah Rukh Khan
Ira Dubey
Zeenat Aman
Ajay Devgn
Kapil Jhaveri
Salman Khan
Shahid Kapoor
Irrfan Khan
Arjun Rampal
Taapsee Pannu
Himansh Kohli
Amitabh Bachchan
Imaaduddin Shah
Emraan Hashmi
Anil Kapoor
Shahid Kapoor
Vikaas Kalantari
Sushant Singh Rajput
Amar Upadhyaya
Om Puri
Paresh Rawal
Aamir Khan
Hrithik Roshan
Abhishek Bachchan
Sharman Joshi
Muzamil Ibrahim
Prateik
Ajay Devgn
Pankaj Kapur
Naseeruddin Shah
Krrish Chhabria
Sanjay Dutt
Ishaan Khattar
RJ Balaji
Shah Rukh Khan
Ram Kapoor
Amitabh Bachchan
Sushant Singh Rajput
Sasha Aagha
Akshay Kumar
Kamal Rashid Khan
Sanjay Dutt
Waheeda Rehman
Cary Elwes
Imran Khan
Satish Kaushik
Adhyayan Suman
Akshay Kumar
Amitabh Bachchan
Madhuri Dixit
Alia Bhatt
Manisha Koirala
Raghuvir Yadav
Arvind Swamy
Rajit Kapoor
Aftab Shivdasani
Ajay Devgn
Akshay Kumar
Yash Soni
Vinay Pathak
Neil Nitin Mukesh
Ishrat Ali
Jimmy Sheirgill
Amitabh Bachchan
Sameera Reddy
Fardeen Khan
Karisma Kapoor
Aamir Khan
Himesh Reshammiya
Sunil Shetty
Arjun Rampal
Salman Khan
Salman Khan
Salman Khan
Aditya Roy Kapoor
Yogesh Raj Mishra
Rishi Kapoor
Randeep Hooda
Emraan Hashmi
Bipasha Basu
Swanand Kirkire
Vira Sathidar
Bipasha Basu
Adhvik Mahajan
Ajay Devgn
Vidyut Jammwal
Vidyut Jammwal
Sunil Grover
Arjun Mathur
Saif Ali Khan
Shreyas Talpade
Mithun Chakraborty
Rajkummar Rao
Sachin Khedekar
Ashok Banthia
Zayed Khan
Kareena Kapoor
Ajay Devgn
Deepak Dobriyal
Anil Kapoor
Manoj Bajpayee
Rishi Kapoor
Sushmita Sen
Parveen Kaur
Aarav Khanna
Farooq Shaikh
Mohammad Amir Naji
Natalia Janoszek
Rupa Bhimani
Jimmy Sheirgill
Jatin Grewal
Deepika Padukone
Bipasha Basu
Saif Ali Khan
Amitabh Bachchan
Sanjay Dutt
Ali Zafar
Anuj Saxena
Dev Anand
Jimmy Sheirgill
Mithun Chakraborty
Samir Aftab
Somesh Agarwal
Shahid Kapoor
Bobby Deol
Kareena Kapoor
Shah Rukh Khan
Vinay Pathak
Vickrant Mahajan
Richa Chadha
Sagar Bhangade
Asrani
Arjun Rampal
Shah Rukh Khan
Soha Ali Khan
Tusshar Kapoor
Naseeruddin Shah
Aryan Vaid
Ajay Devgn
Akanksha Puri
Anil Kapoor
Hemant Gopal
Tusshar Kapoor
Neil Nitin Mukesh
Abhishek Bachchan
Seema Azmi
Atul Kulkarni
Kavin Dave
Saif Ali Khan
Saayli Buva
Aanchal Dwivedi
Mona Ambegaonkar
Apoorva Arora
Akshay Kumar
Arjun Mathur
Vinay Virmani
Deepika Padukone
Shashank Arora
Akshay Kumar
Sanjay Dutt
Amitabh Bachchan
Sunil Pal
Shreyas Talpade
Ranbir Kapoor
Rani Mukerji
Radhika Apte
Raima Sen
Amitabh Bachchan
Salman Khan
Vidya Balan
Abhishek Bachchan
Akshay Kumar
Akash
Manish Chaudhary
Jazzy Doe
Ajay Devgn
Kay Kay Menon
Amitabh Bachchan
Pulkit Samrat
Danny Denzongpa
Naushaad Abbas
Irrfan Khan
Sunny Deol
Dino Morea
Mischa Barton
Amitabh Bachchan
Amitabh Bachchan
Jackie Shroff
J.D. Chakravarthi
Ajay Devgn
Sunny Leone
Akshay Kumar
Ali Asgar
Vinay Pathak
Vinay Pathak
Harshvardhan Kapoor
Shaurya Singh
Sunny Deol
Tabu
Akshay Kumar
Farhan Akhtar
Kunal Khemu
Mugdha Godse
Ishaan Khattar
Ayushmann Khurrana
Anil Kapoor
Naseeruddin Shah
Sunny Leone
Rajkummar Rao
Amitabh Bachchan
Vaani Kapoor
Amitabh Bachchan
Reshmi Ghosh
Shahid Kapoor
Vicky Ahuja
John Abraham
Sadashiv Amrapurkar
Juhi Chawla
Bobby Deol
Sara Loren
Ranbir Kapoor
Ayushmann Khurrana
Bobby Deol
Naseeruddin Shah
Riteish Deshmukh
Riteish Deshmukh
Jacqueline Fernandez
Hrithik Roshan
Manisha Kelkar
Ranveer Singh
Urmila Matondkar
Asrani
Ayushmann Khurrana
Salman Khan
Ranveer Singh
Tusshar Kapoor
Amitabh Bachchan
Varun Dhawan
Sidhant Gupta
Annu Kapoor
Varun Dhawan
Amitabh Bachchan
Ayushmann Khurrana
Ranbir Kapoor
Rekha
Manoj Babani
Akshay Kumar
Nawazuddin Siddiqui
Sudha Chandran
Sahil Anand
Radhika Apte
Jackie Shroff
Anisa Butt
Sidharth Malhotra
Tiger Shroff
Shraddha Kapoor
Amitabh Bachchan
Mithun Chakraborty
Shadab Kamal
Emraan Hashmi
Emraan Hashmi
Akshay Kumar
Prakash Belawadi
Arjun Kapoor
Krishna Abhishek
Asrani
Arjun Rampal
Sohail Khan
Ayushmann Khurrana
Amitabh Bachchan
Yudhveer Bakoliya
Diljit Dosanjh
Dharmendra
Bobby Darling
Irrfan Khan
Rohit Roy
Ajay Devgn
Nauheed Cyrusi
Sachin Khedekar
Sanjay Dutt
Raj Singh Chaudhary
Shashank Udapurkar
Kay Kay Menon
Sanjay Mishra
Aftab Shivdasani
Manisha Koirala
Priyanka Chopra
Sumit Arora
Ayushmann Khurrana
Akshay Kumar
Akshay Kumar
Dino Morea
Pankaj Tripathi
Vir Das
Ali Asgar
Lillete Dubey
Aftab Shivdasani
Bipasha Basu
Varun Bhagwat
Sanjay Dutt
Rishi Kapoor
Sukhesh Arora
Manav Kaul
Akshay Kapoor
Amitabh Bachchan
Zareen Khan
Emraan Hashmi
Kartik Aaryan
Sushama Deshpande
Ranbir Kapoor
Jackky Bhagnani
Rani Mukerji
Sidharth Malhotra
Akshay Kumar
Yashpal Sharma
Rati Agnihotri
Akshay Kumar
Abhay Deol
Jimmy Sheirgill
Hrithik Roshan
Tusshar Kapoor
Kareena Kapoor
Amitabh Bachchan
Ranbir Kapoor
Rahul Dev
Akshay Kumar
Prabhas
Fardeen Khan
Farooq Shaikh
Amitabh Bachchan
Nana Patekar
Sachiin Joshi

In [ ]:
for i in movies.index:
    print(i)

Zor Lagaa Ke...Haiya!
Zokkomon
Zindagi Tere Naam
Zindagi Na Milegi Dobara
Zindagi 50-50
Zindaggi Rocks
Zinda (film)
Zila Ghaziabad
Zid (2014 film)
Zero (2018 film)
Zeher
Zed Plus
Zameer: The Fire Within
Zameen (2003 film)
Zamaanat
Yuvvraaj
Yuva
Yun Hota Toh Kya Hota
Youngistaan
Yeh Saali Aashiqui
Yeh Mera India
Yeh Lamhe Judaai Ke
Yeh Khula Aasmaan
Yeh Jawaani Hai Deewani
Yeh Hai India
Yeh Hai Bakrapur
Yeh Dooriyan
Yeh Dil
Yatra (2007 film)
Yamla Pagla Deewana: Phir Se
Yamla Pagla Deewana
Yakeen (2005 film)
Yadvi – The Dignified Princess
Yaaram (2019 film)
Ya Rab
Xcuse Me
Woodstock Villa
Woh Lamhe...
Why Cheat India
What's Your Raashee?
What the Fish
Well Done Abba
Welcome to Sajjanpur
Welcome Back (film)
Welcome 2 Karachi
Welcome (2007 film)
Wedding Pullav
Wedding Anniversary
Waris Shah: Ishq Daa Waaris
War Chhod Na Yaar
Waqt: The Race Against Time
Wanted (2009 film)
Wake Up Sid
Wake Up India
Wajah Tum Ho
Waiting (2015 film)
Waisa Bhi Hota Hai Part II
Wah Taj
Wafa: A Deadly Love Story
Waarrior Savitri
W (2014 film)
Vodka Diaries
Vivah
Vishwaroopam
Viruddh... Family Comes First
Vidyaarthi
Victory (2009 film)
Vicky Donor
Viceroy's House (film)
Via Darjeeling
Veerey Ki Wedding
Veerappan (2016 film)
Veer-Zaara
Veer (2010 film)
Valentine's Night
Vaastu Shastra (film)
Vaah! Life Ho Toh Aisi!
Vaada Raha
Vaada (film)
Uvaa
Utthaan
Utt Pataang
Uri: The Surgical Strike
United Six
Union Leader (film)
Ungli
Umrika
Umrao Jaan (2006 film)
Umar (film)
Ujda Chaman
Ugly (film)
Udta Punjab
Udaan (2010 film)
U R My Jaan
U Me Aur Hum
Turning 30
Tumsa Nahin Dekha: A Love Story
Tumhari Sulu
Tumbbad
Tum Milo Toh Sahi
Tum Mile
Tum Bin II
Tulsi (film)
Tujhe Meri Kasam
Tubelight (2017 Hindi film)
Trump Card (film)
Trapped (2016 Hindi film)
Traffic Signal (film)
Traffic (2016 film)
Total Siyapaa
Total Dhamaal
Toonpur Ka Super Hero
Tom Dick and Harry (2006 film)
Toilet: Ek Prem Katha
Toh Baat Pakki!
Titoo MBA
Titli (2014 film)
Tiger Zinda Hai
Thugs of Hindostan
Thodi Life Thoda Magic
Thoda Tum Badlo Thoda Hum
Thoda Pyaar Thoda Magic
Thoda Lutf Thoda Ishq
The Zoya Factor (film)
The Xposé
The Train (2007 film)
The Tashkent Files
The Stoneman Murders
The Sky Is Pink
The Silent Heroes
The Shaukeens
The Pink Mirror
The Namesake (film)
The Lunchbox
The Last Lear
The Killer (2006 film)
The Journey of Karma
The Japanese Wife
The Hero: Love Story of a Spy
The Ghazi Attack
The Final Exit
The Film Emotional Atyachar
The Film
The Dirty Picture
The Bypass
The Blueberry Hunt
The Blue Umbrella (2005 film)
The Accidental Prime Minister (film)
Thanks Maa
Thank You (2011 film)
Thackeray (film)
Tezz
Tevar
Teri Meri Kahaani (film)
Tere Naam
Tere Naal Love Ho Gaya
Tere Mere Phere
Tere Bin Laden: Dead or Alive
Tere Bin Laden
Tera Kya Hoga Johnny
Tell Me O Kkhuda
Tehzeeb (2003 film)
Teesri Aankh: The Hidden Camera
Tees Maar Khan (2010 film)
Teen Thay Bhai
Teen Patti (film)
Te3n
Taxi No. 9211
Tathastu
Tashan (film)
Tanu Weds Manu: Returns
Tanu Weds Manu: Returns
Tanu Weds Manu
Tango Charlie
Tamanchey
Talvar (film)
Talaash: The Hunt Begins...
Talaash: The Answer Lies Within
Take It Easy (2015 film)
Taj Mahal: An Eternal Love Story
Tahaan
Table No. 21
Taarzan: The Wonder Car
Taare Zameen Par
Ta Ra Rum Pum
Sweetiee Weds NRI
Swami (2007 film)
Swades
Super Nani
Super Model (film)
Super 30 (film)
Suno Sasurjee
Sunglass (film)
Sunday (2008 film)
Summer 2007
Sultan (2016 film)
Sulemani Keeda
Sukhmani: Hope for Life
Sui Dhaaga
Stumped (film)
Student of the Year 2
Student of the Year
Strings of Passion
Striker (2010 film)
Stree (2018 film)
Strangers (2007 Hindi film)
Staying Alive (2012 film)
Station (2014 film)
Stanley Ka Dabba
Ssukh
Sssshhh...
Speed (2007 film)
Special 26
Spark (2014 film)
Souten: The Other Woman
Sorry Daddy
Sorry Bhai!
Sooper Se Ooper
Sonu Ke Titu Ki Sweety
Sons of Ram
Soni (film)
Sonchiriya
Sonali Cable
Son of Sardaar
Socha Na Tha
Soch Lo
Sixteen (2013 Indian film)
Sirf (film)
Singham Returns
Singham
Singh Saab the Great
Singh Is Kinng
Singh Is Bliing
Simran (film)
Simmba
Silsiilay
Sikandar (2009 film)
Siddharth (2013 film)
Shukriya: Till Death Do Us Apart
Shuddh Desi Romance
Shubh Mangal Saavdhan
Showbiz (film)
Shortkut
Shortcut Safari
Shortcut Romeo
Shorgul
Shor in the City
Shootout at Lokhandwala
Sholay
Shivaay
Shiva (2006 film)
Shirin Farhad Ki Toh Nikal Padi
Ship of Theseus (film)
Shikhar (film)
Sheesha (2005 film)
Sheen (film)
Shart: The Challenge
Sharafat Gayi Tel Lene
Shanghai (2012 film)
Shamitabh
Shakalaka Boom Boom
Shaitan (film)
Shahid (film)
Shagird (2011 film)
Shabri
Shabnam Mausi
Shabd (film)
Shab (film)
Shaapit
Shaandaar
Shaadi Se Pehle
Shaadi No. 1
Shaadi Mein Zaroor Aana
Shaadi Ke Side Effects
Shaadi Karke Phas Gaya Yaar
Shaadi Ka Laddoo
Setters (film)
Sehar
Section 375
Secret Superstar
Second Hand Husband
Say Salaam India
Satyameva Jayate (2018 film)
Satyagraha (film)
Satya 2
Satta (film)
Satrangee Parachute
Satellite Shankar
Sarkar Raj
Sarkar 3
Sarkar (2005 film)
Sarhad Paar
Sarbjit (film)
Santa Banta Pvt Ltd
Sankat City
Sanju
Sandwich (2006 film)
Sanam Re
Samrat & Co.
Samay: When Time Strikes
Sallu Ki Shaadi
Salaam-e-Ishq: A Tribute to Love
Salaam Namaste
Sahi Dhandhe Galat Bande
Saheb Biwi Aur Gangster Returns
Saheb Biwi Aur Gangster 3
Saheb Biwi Aur Gangster
Sadiyaan
Sadda Adda
Sacred Evil – A True Story
Sachin: A Billion Dreams
Sabki Bajegi Band
Saaya (2003 film)
Saawariya
Saawan... The Love Season
Saathiya (film)
Saat Uchakkey
Saas Bahu Aur Sensex
Saare Jahaan Se Mehnga
Saansein
Saankal
Saand Ki Aankh
Saaho
Rustom (film)
Rush (2012 film)
Running Shaadi
Run (2004 film)
Rules: Pyaar Ka Superhit Formula
Rukh (film)
Rudraksh (film)
Roy (film)
Rough Book
Rokkk
Rok Sako To Rok Lo
Rog
Rocky Handsome
Rockstar (2011 film)
Rocket Singh: Salesman of the Year
Rock On!!
Rock On 2
Roar: Tigers of the Sundarbans
Roadside Romeo
Road to Sangam
Riyasat (film)
Risknamaa
Risk (2007 film)
Right Yaaa Wrong
Right Here Right Now (film)
Ribbon (film)
Revolver Rani
Revati (film)
Red: The Dark Side
Red Swastik
Red Alert: The War Within
Rebellious Flower
Rascals (2011 film)
Raqeeb
Rann (film)
Rangrezz
Rangoon (2017 Hindi film)
Rang Rasiya
Rang De Basanti
Ranchi Diaries
Ranbanka
Ramprasad Ki Tehrvi
Ramji Londonwaley
Ramayana: The Epic
Raman Raghav 2.0
Ramaiya Vastavaiya
Ramaa: The Saviour
Rakhtbeej
Rakht
Rajma Chawal
Rajjo
Raja Natwarlal
Raja Bhaiya (film)
Raincoat (film)
Raid (2018 film)
Rahasya
Ragini MMS 2
Ragini MMS
Raghu Romeo
Raees (film)
Race 3
Race 2
Race (2008 film)
Rab Ne Bana Di Jodi
Raazi
Raaz: The Mystery Continues
Raaz: Reboot
Raaz (2002 film)
Raavan
Raat Gayi Baat Gayi?
Raanjhanaa
Raag Desh (film)
Raabta (film)
Ra.One
Quick Gun Murugun
Queen (2014 film)
Qissa (film)
Qayamat: City Under Threat
Qarib Qarib Singlle
Qaidi Band
Pyare Mohan
Pyaar Mein Twist
Pyaar Ke Side Effects
Pyaar Ka Punchnama 2
Pyaar Ka Punchnama
Pyaar Impossible!
Purani Jeans
Prince (2010 film)
Prem Ratan Dhan Payo
Prem Kaa Game
Prateeksha
Prassthanam
Pranaam
Prague (2013 film)
Praan Jaye Par Shaan Na Jaye
Poster Boys
Popcorn Khao! Mast Ho Jao
Policegiri
Police Force: An Inside Story
Players (2012 film)
Plan (film)
Pizza (2014 film)
Pink (2016 film)
Pinjar (film)
Piku
Pihu
Photograph (film)
Phoonk 2
Phobia (2016 film)
Phir Milenge
Phir Kabhi
Phir Hera Pheri
Phillauri (film)
Phhir
Phata Poster Nikhla Hero
Phas Gaye Re Obama
Phantom (2015 film)
Phamous
Pehchaan: The Face of Truth
Peepli Live
Paying Guests
Patiala House (film)
Pati Patni Aur Woh (2019 film)
Patel Ki Punjabi Shaadi
Pataakha
Parwana (2003 film)
Partner (2007 film)
Parmanu: The Story of Pokhran
Parineeta (2005 film)
Parched
Paranthe Wali Gali
Pankh
Panchlait
Paltan (film)
Pal Pal Dil Ke Paas
Paisa Vasool
Paheli
Page 3 (film)
Pagalpanti (2019 film)
Padmashree Laloo Prasad Yadav
Padmaavat
Paathshaala
Paap
Paanch Ghantey Mien Paanch Crore
Paan Singh Tomar (film)
Paa (film)
PM Narendra Modi
PK (film)
P Se Pyaar F Se Faraar
P Se PM Tak
Oye Lucky! Lucky Oye!
Out of Control (2003 film)
One by Two (2014 film)
One Two Three
One Day: Justice Delivered
Once Upon ay Time in Mumbai Dobaara!
Once Upon a Time in Mumbaai
Omkara (2006 film)
Omerta (film)
Om-Dar-B-Dar
Om Shanti Om
Om (2003 film)
Ok Jaanu
Oh My God (2008 film)
October (2018 film)
OMG – Oh My God!
O Teri
Nothing but Life
Notebook (2019 film)
Not a Love Story (2011 film)
Noor (film)
No Smoking (2007 film)
No Problem (2010 film)
No One Killed Jessica
No Entry
Nishabd
Nirdosh
Nil Battey Sannata
Newton (film)
New York (2009 film)
Netaji Subhas Chandra Bose: The Forgotten Hero
Nehlle Pe Dehlla
Neerja
Neal 'n' Nikki
Nayee Padosan
Nawabzaade
Nautanki Saala!
Naughty @ 40
Nasha (film)
Naqaab
Nanu Ki Jaanu
Nanhe Jaisalmer
Namastey London
Namaste England
Naksha
Naina (2005 film)
Naam Shabana
Naach (2004 film)
Na Ghar Ke Na Ghaat Ke
NH10 (film)
NH-8 Road to Nidhivan
My Wife's Murder
My Name Is Khan
My Friend Pinto
My Brother…Nikhil
My Bollywood Bride
My Birthday Song
Muskaan
Musafir (2004 film)
Murder 3
Murder 2
Murder (2004 film)
Murari the Mad Gentleman
Munna Michael
Munna Bhai M.B.B.S.
Mummy Punjabi
Mumbhai Connection
Mumbai Se Aaya Mera Dost
Mumbai Salsa
Mumbai Meri Jaan
Mumbai Matinee
Mumbai Mast Kallander
Mumbai Delhi Mumbai
Mumbai Can Dance Saala
Mumbai 125 KM
Mulk (film)
Mukkabaaz
Mukhbiir
Mujhse Shaadi Karogi
Mujhse Fraaandship Karoge
Mughal-e-Azam
Mubarakan
Mr. X (2015 film)
Mr. Singh Mrs. Mehta
Mr. Bhatti on Chutti
Mr Prime Minister
Motu Patlu: King of Kings
Motichoor Chaknachoor
Morning Raga
Monsoon Shootout
Monica (film)
Money Hai Toh Honey Hai
Mom (film)
Mohenjo Daro (film)
Mohalla Assi
Moh Maya Money
Mittal v/s Mittal
Mitron
Mission Mangal
Mission Istaanbul
Missing (2018 film)
Miss Tanakpur Haazir Ho
Mirzya (film)
Mirch
Miley Naa Miley Hum
Milenge Milenge
Mickey Virus
Meri Pyaari Bindu
Meri Biwi Ka Jawaab Nahin
Mere Pyare Prime Minister
Mere Jeevan Saathi (2006 film)
Mere Genie Uncle
Mere Dost Picture Abhi Baki Hai
Mere Dad Ki Maruti
Mere Brother Ki Dulhan
Mere Baap Pehle Aap
Mercury (film)
Memories in March
Meinu Ek Ladki Chaahiye
Meeruthiya Gangsters
Meerabai Not Out
Meenaxi: A Tale of Three Cities
Maximum (film)
Mausam (2011 film)
Matrubhoomi
Matru Ki Bijlee Ka Mandola
Mastram
Mastizaade
Masti (2004 film)
Masaan
Mary Kom (film)
Married 2 America
Market (2003 film)
Marjaavaan
Marigold (2007 film)
Margarita with a Straw
Mardaani 2
Mardaani
Mard Ko Dard Nahi Hota
Maqbool
Mantra (2016 film)
Manto (2018 film)
Manorama Six Feet Under
Manmarziyaan
Manjunath (film)
Manjhi – The Mountain Man
Manikarnika: The Queen of Jhansi
Mangal Pandey: The Rising
Malik Ek
Malamaal Weekly
Maine Pyaar Kyun Kiya?
Maine Gandhi Ko Nahin Mara
Main Tera Hero
Main Prem Ki Diwani Hoon
Main Meri Patni Aur Woh
Main Madhuri Dixit Banna Chahti Hoon
Main Krishna Hoon
Main Hoon Part-Time Killer
Main Hoon Na
Main Aurr Mrs Khanna
Main Aur Mr. Riight
Main Aisa Hi Hoon
Mai (2013 film)
Magic Magic 3D
Madras Cafe
Madhoshi
Made in China (2019 film)
Madaari
Mad About Dance
Machine (2017 film)
Machhli Jal Ki Rani Hai
Maazii
Maatr
Maan Gaye Mughal-e-Azam
MSG: The Warrior Lion Heart
MSG: The Messenger
MSG-2 The Messenger
MP3: Mera Pehla Pehla Pyaar
M.S. Dhoni: The Untold Story
M Cream
Luv U Soniyo
Luv U Alia
Lucky: No Time for Love
Lucky Kabootar
Lucknow Central
Luckhnowi Ishq
Luck by Chance
Luck (2009 film)
Loveshhuda
Love per Square Foot
Love in Bombay
Love U...Mr. Kalakaar!
Love Story 2050
Love Sonia
Love Shagun
Love Sex Aur Dhokha
Love Ke Chakkar Mein
Love Games (film)
Love Breakups Zindagi
Love Aaj Kal
Lootera
London Dreams
Loins of Punjab Presents
Login (film)
Little Zizou
Listen... Amaya
Lipstick Under My Burkha
Life in a... Metro
Life Partner
Life Mein Kabhie Kabhiee
Life Ki Toh Lag Gayi
Life Is Beautiful (2014 film)
Life Express (2010 film)
Lekar Hum Deewana Dil
Lamhaa
Lakshya (film)
Lakshmi (2014 film)
Lakeer – Forbidden Lines
Laila Majnu (2018 film)
Lahore (film)
Lage Raho Munna Bhai
Lafangey Parindey
Ladies vs Ricky Bahl
Laal Rang
Laaga Chunari Mein Daag
LOC Kargil
Kyun! Ho Gaya Na...
Kyon Ki
Kyaa Super Kool Hain Hum
Kyaa Kool Hain Hum 3
Kyaa Kool Hai Hum
Kya Love Story Hai
Kya Dilli Kya Lahore
Kushti (film)
Kurbaan (2009 film)
Kuku Mathur Ki Jhand Ho Gayi
Kudiyon Ka Hai Zamana
Kuchh Meetha Ho Jaye
Kuchh Bheege Alfaaz
Kuch Naa Kaho
Kuch Kuch Locha Hai
Kucch To Hai
Kucch Luv Jaisaa
Krrish
Krishna Cottage
Krishna Aur Kans
Krazzy 4
Koyelaanchal
Koi... Mil Gaya
Koi Mere Dil Mein Hai
Koi Aap Sa
Knock Out (2010 film)
Kites (film)
Kisse Pyaar Karoon
Kisna: The Warrior Poet
Kismat Love Paisa Dilli
Kismat Konnection
Kismat (2004 film)
Kisaan
Kis Kisko Pyaar Karoon
Kis Kis Ki Kismat
Kill Dil
Kick (2014 film)
Ki & Ka
Khwahish
Khwaabb
Khushi (2003 Hindi film)
Khuda Kasam
Khoya Khoya Chand
Khosla Ka Ghosla
Khoobsurat (2014 film)
Khichdi: The Movie
Khel – No Ordinary Game
Khel Toh Ab Shuru Hoga
Khatta Meetha (2010 film)
Khap (film)
Khamoshiyan
Khamoshi (2019 film)
Khamoshh... Khauff Ki Raat
Khamosh Pani
Khakee
Khajoor Pe Atke
Kesari (film)
Keep Safe Distance (film)
Kaun Kitne Paani Mein
Kaun Hai Jo Sapno Mein Aaya
Katti Batti
Kash Aap Hamare Hote
Kasak (2005 film)
Karzzzz
Karwaan
Karthik Calling Karthik
Karma Aur Holi
Karle Pyaar Karle
Karar: The Deal
Karam (film)
Kapoor & Sons
Kaminey
Kalyug (2005 film)
Kalank
Kal Ho Naa Ho
Kaise Kahoon Ke... Pyaar Hai
Kai Po Che!
Kahin Hai Mera Pyar
Kahaani
Kagaar: Life on the Edge
Kadvi Hawa
Kabul Express
Kabir Singh
Kabhi Alvida Naa Kehna
Kaashi in Search of Ganga
Kaante
Kaanchi: The Unbreakable
Kaalo
Kaalakaandi
Kaal (2005 film)
Kaagaz Ke Fools
Kaabil
Just Married (2007 film)
Jurm (2005 film)
Junooniyat
Junglee (2019 film)
Julie 2
Julie (2004 film)
Jugni (2016 film)
Judwaa 2
Judgementall Hai Kya
Jolly LLB
Joker (2012 film)
Johnny Gaddaar
John Day (film)
Joggers' Park (film)
Jodi Breakers
Jodhaa Akbar
Jo Hum Chahein
Jo Bole So Nihaal (film)
Jism (2003 film)
Jimmy (2008 film)
Jigyaasa
Jigariyaa
Jia Aur Jia
Jhootha Kahin Ka
Jhootha Hi Sahi
Jhoom Barabar Jhoom
Jhankaar Beats
Jhalki
Jeena Isi Ka Naam Hai (film)
Jeena Hai Toh Thok Daal
Jazbaa
Jayantabhai Ki Luv Story
Jawani Diwani: A Youthful Joyride
Jattu Engineer
Jannat (film)
Janasheen
James (2005 film)
Jalpari: The Desert Mermaid
Jalebi (film)
Jal (film)
Jajantaram Mamantaram
Jail (2009 film)
Jai Veeru
Jai Jawaan Jai Kisaan (film)
Jai Ho (film)
Jai Gangaajal
Jai Chiranjeeva
Jahan Jaaeyega Hamen Paaeyega
Jagga Jasoos
Jackpot (2013 film)
Jack and Dil
Jabariya Jodi
Jab We Met
Jab Tak Hai Jaan
Jab Harry Met Sejal
Jaane Kyun De Yaaron
Jaane Kahan Se Aayi Hai
Jaane Hoga Kya
Jaan-E-Mann
Jaal: The Trap
JD (film)
It's a Wonderful Afterlife
Issaq
Island City (2015 film)
Isi Life Mein
Ishqiya
Ishqeria
Ishqedarriyaan
Ishq Vishk
Ishq Ke Parindey
Ishq Hai Tumse
Ishq Forever
Ishq Click
Ishkq in Paris
Ishaqzaade
Irudhi Suttru
Irada (2017 film)
Iqraar by Chance
Iqbal (film)
Inteqam: The Perfect Game
Inteha (2003 film)
Insan
Insaaf: The Justice
Inkaar (2013 film)
Indu Sarkar
Indian Babu
India's Most Wanted (film)
Impatient Vivek
I See You (2006 film)
I Proud to Be an Indian
I Love NY (2015 film)
I Love Desi
I Hate Luv Storys
I Am Kalam
I Am (2010 Indian film)
Hyderabad Blues 2
Hunterrr
Hungama (2003 film)
Humshakals
Humpty Sharma Ki Dulhania
Humne Jeena Seekh Liya
Humko Tumse Pyaar Hai
Humko Deewana Kar Gaye
Hume Tumse Pyaar Kitna
Hum Tumhare Hain Sanam
Hum Tum Shabana
Hum Tum Aur Ghost
Hum Tum
Hum Hai Raahi Car Ke
Hum Chaar
Hulchul (2004 film)
Housefull 4
Housefull 2
Housefull (2010 film)
Hotel Salvation
Hostel (2011 film)
Horror Story (film)
Hope Aur Hum
Honour Killing (film)
Honeymoon Travels Pvt. Ltd.
Home Delivery
Holiday: A Soldier Is Never Off Duty
Holiday (2006 film)
Hisss
Hindi Medium
Hind Ka Napak Ko Jawab: MSG Lion Heart 2
Himmatwala (2013 film)
Highway (2014 Hindi film)
High Jack (film)
Hichki
Heyy Babyy
Hey Bro
Heropanti
Heroine (2012 film)
Heroes (2008 film)
Hero (2015 Hindi film)
Help (film)
Hello Darling
Hello (2008 film)
Helicopter Eela
Heartless (2014 film)
Hazaaron Khwaishein Aisi
Hawayein
Hawas (2004 film)
Hawaizaada
Hawaa Hawaai
Hawa (film)
Hava Aney Dey
Haunted – 3D
Hatya (2004 film)
Hattrick (film)
Hate Story 4
Hate Story 2
Hate Story
Hastey Hastey
Haseena Parkar
Hasee Toh Phasee
Hari Puttar: A Comedy of Terrors
Haraamkhor
Happy Phirr Bhag Jayegi
Happy New Year (2014 film)
Happy Husbands (2011 film)
Happy Ending (film)
Happy Bhag Jayegi
Hanuman (2005 film)
Hamid (film)
Hamari Adhuri Kahani
Halla Bol
Halkaa
Half Girlfriend (film)
Haider (film)
Hai Apna Dil Toh Awara
Haasil
Haal-e-Dil
Guzaarish (film)
Guru (2007 film)
Gunday
Gumnaam – The Mystery
Gully Boy
Gulabi Gang (film)
Gulaal (film)
Gulaab Gang
Guest iin London
Guddu Rangeela
Guddu Ki Gun
Green Card Fever
Great Grand Masti
Grand Masti
Gour Hari Dastaan
Gori Tere Pyaar Mein
Good Newwz
Good Boy Bad Boy
Gone Kesh
Golmaal: Fun Unlimited
Golmaal Returns
Golmaal Again
Gollu Aur Pappu
Goliyon Ki Raasleela Ram-Leela
Gold (2018 film)
God Tussi Great Ho
Goal (2007 Hindi film)
Go Goa Gone
Go (2007 film)
Global Baba
Girlfriend (2004 film)
Gippi
Ghost (2019 film)
Ghost (2012 film)
Ghayal: Once Again
Ghanchakkar (film)
Ghajini (2008 film)
Genius (2018 Hindi film)
Gayab
Gauri: The Unborn
Gattu
Garv: Pride & Honour
Garam Masala (2005 film)
Gangster (2006 film)
Gangs of Wasseypur – Part 2
Gangs of Wasseypur
Gangoobai
Gangaajal
Gang of Ghosts
Gandhi My Father
Game (2011 film)
Gali Guleiyan
Gabbar Is Back
Gabbar Is Back
G Kutta Se
Fun2shh... Dudes in the 10th Century
Fun – Can Be Dangerous Sometimes
Fukrey Returns
Fukrey
Fugly (film)
Fuddu
FryDay
Fruit and Nut (film)
From Sydney with Love
Fredrick (film)
Freaky Ali
Fraud Saiyaan
Fox (film)
Force 2
Force (2011 film)
Footpath (2003 film)
Fool & Final
Flavors (film)
Flat 211
Fitoor
Firangi
Firaaq
Finding Fanny
Filmistaan
Fight Club – Members Only
Fida
Fever (2016 film)
Ferrari Ki Sawaari
Fatso!
Fashion (2008 film)
Fareb (2005 film)
Fanaa (2006 film)
Fan (film)
Familywala
Family of Thakurganj
Family (2006 film)
F.A.L.T.U
Evening Shadows
Escape from Taliban
Entertainment (2014 film)
English Vinglish
Enemmy
Elaan (2005 film)
Eklavya: The Royal Guard
Ekkees Toppon Ki Salaami
Ekk Deewana Tha
Ek: The Power of One
Ek Vivaah... Aisa Bhi
Ek Villain
Ek Thi Rani Aisi Bhi
Ek Thi Daayan
Ek Tha Tiger
Ek Second... Jo Zindagi Badal De?
Ek Se Bure Do
Ek Se Badhkar Ek (2004 film)
Ek Paheli Leela
Ek Main Aur Ekk Tu
Ek Khiladi Ek Haseena (film)
Ek Kahani Julie Ki
Ek Hasina Thi (film)
Ek Haseena Thi Ek Deewana Tha
Ek Din 24 Ghante
Ek Chalis Ki Last Local
Ek Aur Ek Gyarah
Ek Alag Mausam
Ek Ajnabee
Eight: The Power of Shani
Dus Kahaniyaan
Dus
Dunno Y... Na Jaane Kyon
Dum Maaro Dum (film)
Dum Laga Ke Haisha
Dum (2003 Hindi film)
Dulha Mil Gaya
Dude Where's the Party?
Drona (2008 film)
Drishyam (2015 film)
Dreams (2006 film)
Dream Girl (2019 film)
Double Dhamaal
Double Cross (2005 film)
Dosti: Friends Forever
Dostana (2008 film)
Dor (film)
Dongari Ka Raja
Don't Stop Dreaming
Don Muthu Swami
Don 2
Don (2006 Hindi film)
Dolly Ki Doli
Dobara
Dobaara: See Your Evil
Do Lafzon Ki Kahani (film)
Do Dooni Chaar
Dishoom
Dishkiyaoon
Dirty Politics (film)
Direct Ishq
Dilwale (2015 film)
Dilliwali Zaalim Girlfriend
Dil Toh Deewana Hai
Dil Toh Baccha Hai Ji
Dil Pardesi Ho Gayaa
Dil Ne Jise Apna Kahaa
Dil Maange More
Dil Kabaddi
Dil Ka Rishta
Dil Juunglee
Dil Jo Na Keh Saka
Dil Jo Bhi Kahey...
Dil Dosti Etc
Dil Diya Hai
Dil Dhadakne Do
Dil Bole Hadippa!
Dil Bechara Pyaar Ka Maara
Dil Bechara
Dhund (2003 film)
Dhoop
Dhoondte Reh Jaaoge
Dhoom 3
Dhoom 2
Dhoom
Dhol (film)
Dhokha
Dhobi Ghat (film)
Dharti Kahe Pukar Ke (2006 film)
Dharm (film)
Dharam Sankat Mein
Dhanak
Dhamaal
Dhadak
Devi (2016 film)
Devdas (2002 Hindi film)
Devaki (2005 film)
Dev (2004 film)
Detective Byomkesh Bakshy!
Desi Kattey
Desi Boyz
Deshdrohi
Department (film)
Delhi-6
Delhi Safari
Delhi Belly (film)
Dekh Tamasha Dekh
Dehraadun Diary
Deewane Huye Paagal
Deewaar (2004 film)
Dedh Ishqiya
Dear Zindagi
Dear Maya
Dear Friend Hitler
Dear Dad (film)
Deadline: Sirf 24 Ghante
De Taali
De De Pyaar De
De Dana Dan
Days of Tafree
Dasvidaniya
Dassehra
Darwaaza Bandh Rakho
Darr @ the Mall
Darna Zaroori Hai
Darna Mana Hai

In [ ]:
#arithmatic operators(Broadcasting)
marks_series

Analysis    68
Python      90
C++         80
Java        99
Name: Ziyan Marks, dtype: int64

In [ ]:
100 - marks_series

Analysis    32
Python      10
C++         20
Java         1
Name: Ziyan Marks, dtype: int64

In [ ]:
#relational operators
vk >= 50

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213     True
214    False
215    False
Name: runs, Length: 215, dtype: bool

# **Boolean** **Indexing** **on** **Series**

In [ ]:
#no. of 50's and 100's by King 👑 Kohli
vk[vk >= 50].size

50

In [ ]:
#no. of ducks by Kohli 🙂
n = vk[vk == 0]
n

match_no
8      0
87     0
91     0
93     0
130    0
135    0
206    0
207    0
211    0
Name: runs, dtype: int64

In [ ]:
len(n)

9

In [ ]:
#no. of days when subscribers are more than 200
subscribers[subscribers > 200].count()

np.int64(59)

In [ ]:
#find actors who have done more than 20 movies
num_movies = movies.value_counts()
num_movies[num_movies > 20]

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
Shah Rukh Khan      22
Emraan Hashmi       21
Name: count, dtype: int64